body{
    margin: 0px;
    padding: 0px;
}

p{
    padding:0px;
    margin:10px;
    margin-left: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

h1{
    background: rgb(114, 114, 107);
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Satisfy', cursive;
}

header{
    background-color: black;
    padding: 10px; /*Isso aumenta a espessura do painel de navegação */
}

ol{
    display: flex; /* Isso faz com que a lista do menu fique na mesma linha */
    list-style-type: none; /* Isso retira os números de ordem da lista */
}

li{
    margin-right: 50px; /* Isso afasta as palavras do menu em 50px  */
    color: aliceblue; /* Essa é a cor da fonte do menu */ 
    font-size: 20px; 
    font-family: 'Satisfy', cursive;
}

a{
    text-decoration: none;
    text-decoration-color: none;
}

a:visited{
    color:inherit;
}

.serv{
    display: flex;
    background: black;
    text-align: center;
    padding: 20px;
    
}

.descrição{
    color:aliceblue;
    width: 330px;
    margin-right: 35px;
    margin-left:35px
}

.imagem{
    
    border-radius: 15px;
    margin-right: 35px;
    margin-left:35px;
    border-color: white;
    border-style: solid;
}

.voltar{
    border-radius: 15px;
    border-style: solid;
    border-color: red;
    background: yellow;
    padding:10px;
    text-align: center;
    font-size: 30px; 
    font-family: 'Satisfy', cursive;
}

#map {
    height: 400px;
    width: 100%;
}